@inherits HovercraftComponentBase

<h3>Hovercraft Component</h3>
<div>Hovercraft created at: @CreatedAt.ToString()</div>
<button @onclick="() => { OnButtonClicked.InvokeAsync(ActionDescription); }" >Click the Hovercraft button!</button>

